.banner-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background: #ec7c5a;
    margin-top: 150px;
    height: 40vh;
    border-radius: 5px;
}

.index{
    border: none;
    border-radius: 50%;
    background: #fff;
    align-items: center;
    width: 7vw;
    height: 15vh;
    position: relative;
}

.index >img{
    position: absolute;
    top: 20%;
    left: 15%;
    width: 5vw;
    height: 11vh;
}
.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.image-container h3,h1{
   color: #fff;
}