.banner-container{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    background: #ec7c5a;
    margin-top: 150px;
}

.index{
    border: none;
    border-radius: 50%;
    background: #fff;
    align-items: center;
    width: 10vw;
    height: 20vh;
}

.index >img{
    top: 30%;
    left: 50%;
    width: 7vw;
    height: 10vh;
}