 :root{
   --header-background-color: #cecaca;
   --text-color: #222;
 }

 .container-fluid{
   margin: 0;
   padding: 0;
 }

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--header-background-color);
}

.logo img{
  height: 15vh;
  margin-left: 15px;
}

.nav-item{
  color: var(--text-color);
  font-weight: bold;
}

.nav-item:hover{
  text-decoration: none;
  color: #2c2b2b;
}